body{
    background-image: url("https://wallpaperaccess.com/full/1862824.png ")
}
p{
    color: hotpink;
    font-size: 20px;
}
h1{
    color:lightcyan;
}
a{
    color:steelblue;
}
h2{
    color:lightgrey;
}